.editForm {
  display: flex !important;
  flex-direction: column;

  .item-card {
    margin: 20px auto;
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

.mat-checkbox {
  margin-bottom: 20px;
  display: inline-block;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  +label {
    color: white;
    background-color: #4a4eba;
    display: inline-block;
    padding: 8px 18px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 2px;
  }

  &:focus+label {
    background-color: #e74231;
  }

  +label {
    &:hover {
      background-color: #e74231;
    }

    cursor: pointer;

    * {
      pointer-events: none;
    }
  }
}
