<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Events</h1>
    </div>
    <div class="docs-header-start">
      <button mat-raised-button (click)="addEvent()">ADD NEW</button>
      <button mat-flat-button color="primary" (click)="showInactives()">Show inactives</button>
    </div>
  </div>
</header>

<mat-card class="material-card box-shadow" *ngFor="let event of events">
  <mat-card-header>
    <mat-card-title><h2>{{event.title}}</h2></mat-card-title>
    
    <mat-card-subtitle *ngIf="event.status == 1;then active else inactive"></mat-card-subtitle>
    <ng-template #active>
      <mat-card-subtitle class="text-active">Active</mat-card-subtitle>
    </ng-template>
    <ng-template #inactive>
      <mat-card-subtitle class="text-inactive">Inative</mat-card-subtitle>
    </ng-template>

  </mat-card-header>
  <img mat-card-image src="{{event.url_image}}" alt="{{event.title}}">
  <div class="info-card">
    <p><small>when: </small>{{event.date | date :  "dd/MM/y HH:mm (EEEE)"}}</p>
    <p><small>where: </small>{{event.place}} - {{event.city}}</p>
  </div>
  <mat-card-actions>
    <button mat-button (click)="editEvent(event)" color="primary">EDIT</button>
    <button mat-button (click)="deleteEvent(event)" color="warn">DELETE</button>
  </mat-card-actions>
</mat-card>

<div class="pagination">
  <button mat-button (click)="olderPage()" color="primary">Older</button>
  <button mat-button (click)="newerPage()" color="primary">Newer</button>
</div>