<div>
  <h4>Editing category</h4>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="hidden" formControlName="id" placeholder="Event ID" name="id" id="id" readonly>
    </div>

    <div>
      <label for="uuid">UUID</label>
      <input formControlName="uuid" placeholder="Event UUID" name="uuid" id="uuid" readonly>
    </div>
    <div>
      <label for="status">Status</label>
      <input type="checkbox" formControlName="status" placeholder="Event status" name="status" id="status">
    </div>

    <div>
      <label for="title">Title</label>
      <input formControlName="title" placeholder="Title" name="title" id="title">
    </div>

    <div>
      <label for="url_image">Image</label>
      <input formControlName="url_image" placeholder="Event image" name="url_image" id="url_image">
    </div>

    <button>Update</button>
  </form>
</div>
