<div class="col-12">
    <h2 class="text-center">Edit Category</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">ID</label>
            <input formControlName="id" placeholder="Event ID" name="id" class="form-control" id="id">
        </div>

        <div class="form-group">
            <label for="uuid">UUID</label>
            <input formControlName="uuid" placeholder="Event UUID" name="uuid" class="form-control" id="uuid">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="number" formControlName="status" placeholder="Event status" name="status" class="form-control" id="status">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="url_image">Image</label>
            <input formControlName="url_image" placeholder="Event image" name="url_image" class="form-control" id="url_image">
        </div>

        <button class="btn btn-success">Update Event</button>
    </form>
</div>