<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <h1>PurAí Dashboard</h1>
    <p>As melhores festas e eventos você encontra aqui!</p>
  </div>

  <div *ngIf="loginError">
    <div>{{loginErrorMessage}}</div>
  </div>

  <div>
    <input type="email" id="email" formControlName="email" placeholder="Email address" required="" autofocus="">
    <label for="email">Email address</label>
  </div>

  <div>
    <input type="password" id="password" formControlName="password" placeholder="Password" required="">
    <label for="password">Password</label>
  </div>

  <div>
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <button>Sign in</button>

</form>
