<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Edit Category</h1>
    </div>
  </div>
</header>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="editForm">

  <mat-card class="material-card box-shadow item-card">
    <mat-checkbox formControlName="status" name="status" id="status">Activated</mat-checkbox>

    <mat-form-field class="full-width">
      <input matInput formControlName="title" placeholder="Title" name="title" id="title" required="">
    </mat-form-field>

    <div class="item-image">
      <p>Current image</p>
      <img mat-card-image src="{{this.editForm.get('category_image').value}}" alt="{{this.editForm.get('title').value}}">
    </div>

    <div class="form-group">
      <input type="file" id="category_image" name="category_image" (change)="onFileSelected($event)" class="input-file">
      <label for="category_image"><strong>Choose new image</strong></label>
    </div>

    <button mat-raised-button color="warn" class="button-item">Save</button>
  </mat-card>

  <mat-card class="material-card box-shadow item-card">
    <p>For reference only</p>
    <mat-form-field class="full-width">
      <input type="hidden" formControlName="id" placeholder="ID" name="id" id="id" readonly>
      <input matInput formControlName="uuid" placeholder="UUID" name="uuid" id="uuid" readonly style="color: #bbbbbb;">
    </mat-form-field>
  </mat-card>

</form>
