<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Edit Sale Place</h1>
    </div>
  </div>
</header>

<mat-card class="material-card box-shadow sale-place-card">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <input type="hidden" formControlName="id" placeholder="ID" name="id" id="id" readonly>
      <input matInput formControlName="uuid" placeholder="UUID (for reference only)" name="uuid" id="uuid" readonly style="color: #bbbbbb;">
    </mat-form-field>

    <mat-checkbox formControlName="status" name="status" id="status">Status</mat-checkbox>

    <mat-form-field class="full-width">
      <input matInput formControlName="title" placeholder="Title" name="title" id="title" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="phone" placeholder="(XX) XXXX-XXXX" name="phone" id="phone" required="">
    </mat-form-field>

    <button mat-raised-button color="warn" class="button-item">Save</button>
  </form>
</mat-card>
