<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Locais de venda</h1>
    </div>
    <div class="docs-header-start">
      <button mat-raised-button>Basic</button>
    </div>
  </div>
</header>

<mat-list>
  <mat-list-item *ngFor="let salePlace of salePlaces">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{salePlace.title}}</h4>
    <p mat-line>{{salePlace.status}}</p>
    <a (click)="editSalePlace(salePlace)">EDIT</a>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
