<h4>Add Category</h4>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="status">Status</label>
    <input type="number" formControlName="status" placeholder="Event status" name="status" id="status">
  </div>

  <div>
    <label for="title">Title</label>
    <input formControlName="title" placeholder="Event title" name="title" id="title">
  </div>

  <div>
    <label for="url_image">Image</label>
    <input formControlName="url_image" placeholder="Event image" name="url_image" id="url_image">
  </div>

  <button>Add Event</button>
</form>
