<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Add Category</h1>
    </div>
  </div>
</header>

<mat-card class="material-card box-shadow category-card">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <mat-checkbox formControlName="status" name="status" id="status">Status</mat-checkbox>
    
    <mat-form-field class="full-width">
      <input matInput formControlName="title" placeholder="Title" name="title" id="title" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="url_image" placeholder="Image" name="url_image" id="url_image" required="">
    </mat-form-field>

    <button mat-raised-button color="warn" class="button-item">Save</button>
  </form>
</mat-card>
