/* You can add global styles to this file, and also import other style files */
  a {
    cursor: pointer;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(4, 4, 4, 0.16);
    -webkit-transition: box-shadow 0.2s; /* Safari */
    transition: box-shadow 0.2s;
  }

  .box-shadow:hover {
    box-shadow: 0 0.05rem 0.25rem rgba(4, 4, 4, 0.16);
  }