/* Utilities */
body {
  margin: 0;
}

a {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0.25rem 1rem rgba(4, 4, 4, 0.16) !important;
  -webkit-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
}

.box-shadow:hover {
  box-shadow: 0 0.05rem 0.45rem rgba(4, 4, 4, 0.16) !important;
}

.mat-toolbar.mat-primary {
  position: relative;
}

/* Page Header */
.docs-header-background {
  background: #3f51b5;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
}

.docs-header-headline {
  color: #fff;
}

.docs-header-headline h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
}

.docs-header-start, .docs-homepage-bottom-start {
  margin: 20px 0;
}

/* Card */
.material-card {
  display: inline-block !important;
  max-width: 400px;
  margin: 20px;
}

.material-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
