<div>
  <h4>Add Sale Place</h4>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="status">Status</label>
      <input type="checkbox" formControlName="status" placeholder="Sale Place status" name="status" id="status">
    </div>

    <div>
      <label for="title">Title</label>
      <input formControlName="title" placeholder="Sale Place title" name="title" id="title">
    </div>

    <div>
      <label for="phone">Phone number</label>
      <input formControlName="phone" placeholder="(XX) XXXX-XXXX" name="phone" id="phone">
    </div>

    <button>Add Sale Place</button>
  </form>
</div>
