<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Categories</h1>
    </div>
    <div class="docs-header-start">
      <button mat-raised-button (click)="addCategory()">ADD NEW</button>
      <button mat-flat-button color="primary" (click)="showInactives()">Show inactives</button>
    </div>
  </div>
</header>

<mat-list *ngIf="categories != undefined && categories.length == 0">
  <a mat-button class="no-results">No results found</a>
</mat-list>

<mat-card class="material-card box-shadow" *ngFor="let category of categories">
  <mat-card-header>
    <mat-card-title>
      <h2>{{category.title}}</h2>
    </mat-card-title>

    <mat-card-subtitle *ngIf="category.status == 1;then active else inactive"></mat-card-subtitle>
    <ng-template #active>
      <mat-card-subtitle class="text-active">Active</mat-card-subtitle>
    </ng-template>
    <ng-template #inactive>
      <mat-card-subtitle class="text-inactive">Inative</mat-card-subtitle>
    </ng-template>

  </mat-card-header>
  <img mat-card-image src="{{category.category_image}}" alt="{{category.title}}">
  <mat-card-actions>
    <button mat-button (click)="editCategory(category)" color="primary">EDIT</button>
    <button mat-button (click)="deleteCategory(category)" color="warn">DELETE</button>
  </mat-card-actions>
</mat-card>

<div class="pagination">
  <button mat-button (click)="olderPage()" color="primary">Older</button>
  <button mat-button (click)="newerPage()" color="primary">Newer</button>
</div>
