<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Edit Event</h1>
    </div>
  </div>
</header>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="editForm">

  <mat-card class="material-card box-shadow item-card">

    <div class="full-width">
      <mat-checkbox formControlName="status" name="status" id="status">Activated</mat-checkbox>
    </div>
  
    <div class="full-width">
      <mat-checkbox formControlName="featured" name="featured" id="featured">Featured</mat-checkbox>
    </div>

    <mat-form-field class="full-width">
      <input matInput formControlName="title" placeholder="Title" name="title" id="title" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="description" placeholder="Description" name="description" id="description" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="price" placeholder="Price" name="price" id="price" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="datetime-local" matInput formControlName="date" placeholder="Date" name="date" id="date" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="address" placeholder="Address" name="address" id="address" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="city" placeholder="City" name="city" id="city" required="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select formControlName="id_category" name="id_category" id="id_category" placeholder="Category" required="">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select formControlName="id_sale_place" name="id_sale_place" id="id_sale_place" placeholder="Sale Place" required="">
        <mat-option *ngFor="let salePlace of salePlaces" [value]="salePlace.id">
          {{salePlace.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="item-image">
      <p>Current image</p>
      <img mat-card-image src="{{this.editForm.get('image').value}}" alt="{{this.editForm.get('title').value}}">
    </div>

    <div class="form-group">
      <input type="file" id="image" name="image" (change)="onFileSelected($event)" class="input-file">
      <label for="image"><strong>Choose new image</strong></label>
    </div>

    <button mat-raised-button color="warn" class="button-item">Save</button>
  </mat-card>

  <mat-card class="material-card box-shadow item-card">
    <p>For reference only</p>
    <mat-form-field class="full-width">
      <input type="hidden" formControlName="id" placeholder="ID" name="id" id="id" readonly>
      <input matInput formControlName="uuid" placeholder="UUID" name="uuid" id="uuid" readonly style="color: #bbbbbb;">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="datetime-local" matInput formControlName="created_at" placeholder="Created at" name="created_at" id="created_at"
        readonly style="color: #bbbbbb;">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="datetime-local" matInput formControlName="updated_at" placeholder="Updated at" name="updated_at" id="updated_at"
        readonly style="color: #bbbbbb;">
    </mat-form-field>
  </mat-card>
</form>
